@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

html, body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb)) !important;
  min-height: 100vh;
}

.title {
  font-family: Arial, sans-serif;
  font-weight: 300;
  text-transform: lowercase;
}
